{% extends "base.html" %}

{% block title %}
User: {{user.first_name}} {{user.last_name}}
{% endblock %}

{% block header %}
{{user.first_name}} {{user.last_name}}
{% endblock %}

{% block content %}
<img src={{user.image_url}} alt="random avatar" srcset="">
<form action="/{{user.id}}/edit-user">
    <button type="submit">Edit User</button>
</form>
<form action="/{{user.id}}/delete-user" method="post">
    <button type="submit">Delete User</button>
</form>
<form action="/{{user.id}}/posts/new">
    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
        <li><a href="/{{user.id}}/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <button type="submit">Add New Post</button>
</form>

{% endblock %}